<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SweStats</title>
    <link rel="stylesheet" href="{% static 'base.css' %}" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,900italic,900,700italic,700,600italic,600,400italic,300italic,300,200italic' rel='stylesheet' type='text/css'>
    <style>
        body {
            padding: 2rem;
            font-family: 'Source Sans Pro', sans-serif;
            background: #f3f3f3;
        }
    </style>
</head>
<body>

<hr>
<br>
<div>
    <a href="{% url 'home' %}">
        <img class="logo_center" src="{% static 'swestats_logo.PNG' %}">
    </a>
    <h1 style="margin-left: 70%; text-align: center; color: orange; background: black; border-radius: 25px; width: 10%;">BETA</h1>
</div>
<br>
<hr>

{% block content %}

{% endblock content %}

<br><br><br>
<br><br><br>
<br><br><br>


<footer>
    <h1 style="text-align: center;">Instant Online Dashboard</h1>
    <h2 style="text-align: center; margin-top: -2%;">Build your very own interactive Dashboard in just seconds!</h2>
    <hr>
    <h2 style="text-align: center;">By coders for non-coders</h2>
</footer>

</body>
</html>
