{% extends "base.html" %}
{% block content %}

<br>
<br>

<div class="center_div">
    <h2 class="h2_title">Upload a data file</h2>
</div>

<br>
<br>
<br>

<div class="center_div">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in doc_form %}
            {{ field }}
        {% endfor %}
        <button class="button" type="submit">Skicka</button>
    </form>
</div>

<br>
<br>
<br>
<br>

<div class="center_div">
    <p>
        <br>
        SweStats is a free of charge platform for instant and online data science. <br>
        This is the only platform that allows users to upload and wrangle data as well as <br>
        execute statistic testing and data visualisation all in real time and without data being saved. <br>
        <br>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. <br>
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, <br>
        when an unknown printer took a galley of type and scrambled it to make a type specimen book.<br>
        It has survived not only five centuries, but also the leap into electronic typesetting,<br>
        remaining essentially unchanged. <br>
        It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,<br>
        and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        <br><br>

    </p>
</div>

{% endblock %}



