{% extends "base.html" %}
{% block content %}
{% load static %}

<br>
<br>

<div class="center_div">
    <h2 class="h2_title">Upload a data file</h2>
</div>

<br>

<div class="center_div">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in doc_form %}
            {{ field }}
        {% endfor %}
        <button class="button" type="submit">Skicka</button>
    </form>
</div>

<br><br><br>

<div class="center_div">
    <div class="inline">
        <img src="{% static 'csvfile.svg' %}" style="width: 10%; height: 10%;">
        <img src="{% static 'excelfile.png' %}" style="width: 10%; height: 10%;">
        <img src="{% static 'pythonfile.png' %}" style="width: 10%; height: 10%;">
    </div>
</div>

<br>
<br>
<br>
<br>


{% endblock %}



