{% extends 'base.html' %}
{% block content %}


<div class="center_div">
    <div class="inline">
        <button type="button" class="button" onclick="location.href='{% url 'configure_dashboard' %}'">Create Dashboard</button>
    </div>
</div>
<br>
<div class="center_div" style="background-color: black; border-radius: 25px;">
    <br>
    <h2 class="h2_title">Uploaded data</h2>
    <h3 class="h3_title">Data source {{ extention }} <br>
    {{ meta_c }} columns & {{ meta_r }} rows detected <br><br>
    </h3>
    <div class="center_div" style="border-radius: 25px;">
        <div class="sketchy">
            {% if meta_r > 10 %}
                <div class="left_div">Only showing the first 10 rows...</div>
            {% endif %}
            <table style="margin-left: auto; margin-right: auto;">
                <tr>
                    {% for col in df.columns %}
                    <td>
                        <b>{{col}}</b>
                    </td>
                    {% endfor %}
                </tr>
                {% for index, row in df.iterrows %}
                    <tr>
                        {% for cell in row %}
                        <td>
                            {{cell}}
                        </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <br>
    <br>
    <div class="center_div">
        <div class="inline">
            <button type="button" class="button" onclick="location.href='{% url 'home' %}'">Delete data</button>
        </div>
    </div>
    <br>
</div>
{% endblock %}
